---
import Base from "../layouts/Base.astro";
import Welcome from "../components/general/Welcome.astro";
import LatestPosts from "../components/blog/LatestPosts.astro";
import Cont from "../components/general/Conte.astro"
---

<Base>
	<main>
		<Welcome />
		<LatestPosts />
		<Cont />
	</main>
</Base>
